<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="/static/a.png" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <script src="/static/functions.js"></script>
        <title>ArgenBust: Bienvenido</title>
    </head>

<body id="mainbody" onLoad="playbackgroundmusic()">
    <audio id="backgroundmusic" src="/static/musicfinalproject.mp3"></audio>
    <h1 id="titulo"><b><span style="background-color: #3ec2c0;">ArgenBust: JUGÁ YA!</span></b></h1>
    <img class="casinologo" src="https://prodimages.everythingneon.com/giant/l100-7011-casino-open-animated-led-sign.gif" alt="casino logo">
    &nbsp;
    <img class="logo" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/d62e7a74708337.5c379806453ae.gif" alt="argenbust logo">
    &nbsp;
    &nbsp;

    <h1 style="text-align: center"><span style="background-color: #3ec2c0;">JUGAR AHORA</span></h1>
    &nbsp;
    &nbsp;
    <div class="center">
        <form action="/entrar">
            <button class="btn btn-primary btn-lg" type="submit">JUGAR</button>
        </form>
    </div>
</body>